<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>xavdid.alfred.superpaste</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1B522C3E-D8D4-400E-B30B-B07F7E24E33C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F7DE03F-265A-4370-A529-B426562AFBEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>624919F6-CABB-4017-9380-DA87B0C7A37D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B522C3E-D8D4-400E-B30B-B07F7E24E33C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5949A58-B42E-4425-9E93-2926CA17C737</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>624919F6-CABB-4017-9380-DA87B0C7A37D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Brownman</string>
	<key>description</key>
	<string>Easily paste links to external resources in markdown</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Super Paste</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7F7DE03F-265A-4370-A529-B426562AFBEA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>624919F6-CABB-4017-9380-DA87B0C7A37D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>super_paste.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B522C3E-D8D4-400E-B30B-B07F7E24E33C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>pr</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>C5949A58-B42E-4425-9E93-2926CA17C737</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Super paste can paste many URLs as nicely-formatted markdown urls. Works especially well w/ JIRA and Github links!</string>
	<key>uidata</key>
	<dict>
		<key>1B522C3E-D8D4-400E-B30B-B07F7E24E33C</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>624919F6-CABB-4017-9380-DA87B0C7A37D</key>
		<dict>
			<key>note</key>
			<string>get clipboard</string>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>7F7DE03F-265A-4370-A529-B426562AFBEA</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>C5949A58-B42E-4425-9E93-2926CA17C737</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://xavd.id</string>
</dict>
</plist>
